@import colors
@import mixins

.personalArea
    &-booking
        display: flex
        flex-direction: column
        gap: 40px
        &-header
            display: grid
            grid-template-columns: repeat(2, 1fr)
            gap: 20px
            @media screen and ( max-width: 1024px )
                grid-template-columns: repeat(1, 1fr)
        &-balance
            width: 100%
            padding: 28px 40px
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 24px
            border-radius: 20px
            background-color: #fff
            @media screen and ( max-width: 500px )
                padding: 24px 20px
            &-title
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 12px
                align-self: stretch
                h3
                    font-size: 28px
                    font-style: normal
                    font-weight: 700
                    line-height: 1.3em
                p
                    margin-bottom: 0
                    font-size: 14px
                    font-style: normal
                    font-weight: 500
                    line-height: normal
                    color: #969696
            &-footer
                display: flex
                justify-content: space-between
                align-items: center
                align-self: stretch
                @media screen and ( max-width: 500px )
                    flex-direction: column
                &-balance
                    font-size: 28px
                    font-style: normal
                    font-weight: 700
                    line-height: 130%
                &-button
                    a
                        @include btn()
                        @include btn_blue()
                        padding: 12px 36px
                        font-weight: 600
        &-building
            padding: 28px 40px
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: flex-start
            border-radius: 20px
            background-image: url('../img/banner_reservation.png')
            background-size: cover
            background-position: center
            width: 100%
            height: 100%
            gap: 20px
            @media screen and ( max-width: 500px )
                padding: 24px 20px
            &-header
                display: flex
                flex-direction: column
                align-items: flex-start
                gap: 12px
                h3
                    font-size: 18px
                    font-style: normal
                    font-weight: 700
                    line-height: normal
                    color: #fff
                p
                    margin-bottom: 0
                    font-size: 14px
                    font-style: normal
                    font-weight: 500
                    line-height: normal
                    color: #fff
            &-price
                p
                    display: flex
                    align-items: center
                    gap: 16px
                    color: transparentize(#fff, .4)
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: normal
                    margin-bottom: 0
                span
                    font-size: 16px
                    font-style: normal
                    font-weight: 600
                    line-height: normal
                    color: #fff
            &-button
                display: flex
                flex-direction: row
                align-items: flex-start
                justify-content: flex-start
                a
                    @include btn()
                    @include btn_white()
                    padding: 12px 36px
                    color: $mainBlue
                    font-weight: 600
                    gap: 12px
                    svg
                        fill: $mainBlue
                    &:hover
                        background-color: $mainBlue
                        svg
                            fill: #fff
        &-title
            h3
                margin-bottom: 0
                font-size: 28px
                font-style: normal
                font-weight: 700
                line-height: 1.3em
        &-list
            display: flex
            flex-direction: column
            gap: 20px
        &-item
            background-color: #fff
            padding: 28px 40px
            display: flex
            flex-direction: column
            align-items: flex-start
            gap: 20px
            border-radius: 20px
            @media screen and ( max-width: 500px )
                padding: 24px 20px
            &-header
                display: flex
                align-items: center
                gap: 20px
                justify-content: flex-start
                @media screen and ( max-width: 500px )
                    flex-direction: column
                    align-items: flex-start
                .booking
                    &-number
                        display: flex
                        padding: 5px 14px
                        justify-content: center
                        align-items: center
                        gap: 10px
                        border-radius: 20px
                        background-color: #f7f7f5
                        color: $mainBlack
                        font-size: 12px
                        font-style: normal
                        font-weight: 500
                        line-height: normal
                    &-status
                        display: flex
                        align-items: center
                        gap: 8px
                        font-size: 12px
                        font-style: normal
                        font-weight: 500
                        line-height: normal
            &-content
                display: flex
                padding: 12px 28px
                justify-content: space-between
                align-items: flex-start
                align-self: stretch
                border-radius: 20px
                background-color: #F6FAFF
                @media screen and ( max-width: 500px )
                    flex-direction: column
                &-main
                    h4
                        font-size: 16px
                        font-style: normal
                        font-weight: 600
                        line-height: normal
                    p
                        margin-bottom: 0px
                        font-size: 12px
                        font-style: normal
                        font-weight: 500
                        line-height: normal
                        color: $mainGray
                &-more
                    a
                        color: $mainBlack
                        text-decoration: none
                        display: flex
                        align-items: center
                        gap: 4px
            &-footer
                display: flex
                flex-direction: row
                align-items: flex-start
                justify-content: flex-start
                a
                    @include btn()
                    @include btn_blue()
                    padding: 12px 36px
                    font-weight: 600
            &-noObject
                .personalArea-booking-item-content
                    background: none
                    padding: 0
                    p
                        margin-bottom: 0
                        font-size: 14px
                        font-style: normal
                        font-weight: 500
                        line-height: normal
                        color: #969696
                        text-wrap: balance