@import colors
@import mixins

.singleProject
    &-wrapper
        @media screen and ( max-width: 500px )
            padding: 0 16px
    &-firstRow
        overflow: hidden
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 60px
        padding: 0
        @media screen and ( max-width: 768px )
            grid-template-columns: repeat(1, 1fr)
    &-gallery
        overflow: hidden
    &-mainSlider
        overflow: hidden
        .swiper
            // &-slide
            &-button
                &-next
                    right: 20px
                    @media screen and ( max-width: 500px )
                        right: 12px
                &-prev
                    left: 20px
                    @media screen and ( max-width: 500px )
                        left: auto
                        right: 72px
                &-next,
                &-prev
                    background-color: rgba(255, 255, 255, 0.7)
                    border-radius: 50px
                    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10)
                    width: 50px
                    height: 50px
                    &:after
                        display: none
                    @media screen and ( max-width: 500px )
                        top: auto
                        bottom: 20px
    &-thumbnail
        margin-top: 20px
    &-slide
        opacity: .6
        transition: opacity .6s
        &.swiper-slide-thumb-active,
        &.swiper-slide-active
            opacity: 1
        img
            width: 100%
            height: 100%
            object-fit: cover
            object-position: center
            border-radius: 12px
    &-meta
        &_title
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: flex-start
            width: 100%
            h1
                font-size: 28px
                font-style: normal
                font-weight: 700
                line-height: normal
        &_favorites
            button
                display: flex
                align-items: center
                justify-content: center
                background: none
                border: none
    &-advantages
        padding: 60px 0
        gap: 60px
        display: grid
        grid-template-columns: repeat(2, 1fr)
        @media screen and ( max-width: 768px )
            grid-template-columns: repeat(1, 1fr)
        &_item
            display: grid
            grid-template-columns: 170px 1fr
            align-items: center
            gap: 48px
            @media screen and ( max-width: 500px )
                grid-template-columns: repeat(1, 1fr)
        &_illustration
            width: 170px
            height: 170px
            display: flex
            align-items: center
            justify-content: center
            img
                width: 100%
                height: 100%
                object-fit: cover
        &_text
            display: flex
            flex-direction: column
            gap: 12px
            p
                margin-bottom: 0
                &.title
                    color: $mainBlue
                    font-size: 16px
                    font-style: normal
                    font-weight: 700
                    line-height: normal
                    text-transform: uppercase
                &.description
                        font-size: 14px
                        font-style: normal
                        font-weight: 500
                        line-height: normal
                        text-wrap: balance
    &-equipment
        padding: 50px 0
        .tab
            &-content
                padding: 0
                margin-top: 40px
        .nav
            &-pills
                width: 100%
                justify-content: space-between
                border: 1px solid #D9D9D9
                border-radius: 20px
                padding: 0
            &-item
                @media screen and ( max-width: 500px )
                    width: 100%
            &-link
                display: flex
                padding: 16px 28px
                flex-direction: column
                align-items: center
                gap: 6px
                border-radius: 20px
                @media screen and ( max-width: 500px )
                    width: 100%
                .equipment
                    &-title
                        font-size: 16px
                        font-style: normal
                        font-weight: 600
                        line-height: normal
                        color: $mainGray
                    &-price
                        display: flex
                        flex-direction: row
                        align-items: center
                        gap: 8px
                        .icon
                            svg
                                fill: $mainGray
                        .price
                            font-size: 18px
                            font-style: normal
                            font-weight: 700
                            line-height: normal
                            color: $mainGray
                &.active
                    background-color: $mainBlue
                    .equipment
                        &-title
                            color: #fff
                        &-price
                            .icon
                                svg
                                    fill: #fff
                            .price
                                color: #fff

    
.equipment
    &-accordion
        .accordion
            &-item
                border: 0
                border-bottom: 1px solid #D9D9D9
                // &:nth-last-child(1)
                //     border-bottom: none
            &-button
                box-shadow: none
                outline: none
                padding: 20px 60px
                text-align: center
                font-size: 18px
                font-style: normal
                font-weight: 700
                line-height: normal
                letter-spacing: 0.18px
                text-transform: uppercase
                &:not(.collapsed)
                    background-color: transparent
                    color: $mainBlack
            &-body
                padding: 20px 60px
                ul
                    padding-left: 0
                    margin-bottom: 0
                    list-style-type: none
                    li
                        display: flex
                        flex-direction: row
                        gap: 8px
                        align-items: center
                        justify-content: flex-start
                        margin-bottom: 12px
                        &:nth-last-child(1)
                            margin-bottom: 0
                        p
                            margin-bottom: 0
                            font-size: 14px
                            font-style: normal
                            font-weight: 400
                            line-height: normal
                &_content
                    h4
                        font-size: 18px
                        font-style: normal
                        font-weight: 700
                        line-height: normal
                        letter-spacing: 0.18px
                        text-transform: uppercase
                        margin-bottom: 24px
                    &:not(:nth-last-child(1))
                        margin-bottom: 40px