@import colors
@import mixins

.advantages
    &-container
        padding-top: 70px
        padding-bottom: 70px
    &-row
        justify-content: center
    &-item
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        gap: 8px
        flex: 1 2 220px
        max-width: 320px
    &-icon
        width: 160px
        height: 160px
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 0
        img
            // width: 100%
            width: auto
            height: 160px
    &-title
        p
            font-size: 18px
            font-style: normal
            font-weight: 700
            line-height: normal
            margin-bottom: 0
    &-description
        p
            color: transparentize($mainBlack, .2)
            font-size: 12px
            font-style: normal
            font-weight: 500
            line-height: normal
            text-align: center
            text-wrap: balance
            margin-bottom: 0