@import colors
@mixin btn()
    display: flex
    align-items: center
    justify-content: center
    border-radius: 10px
    transition: background-color .3s, color 0.2s
    text-decoration: none
    border: none

@mixin btn_white()
    background-color: #fff
    color: $mainBlack
    &:hover
        color: #fff
        background-color: $mainBlack

@mixin btn_blue()
    background-color: $mainBlue
    box-shadow: 0 0 0 2px $mainBlue
    color: #fff
    &:hover
        background-color: #fff
        box-shadow: 0 0 0 2px $mainBlue
        color: $mainBlue

@mixin title_h3()
    color: $mainBlack
    text-align: center
    font-family: Inter
    font-size: 28px
    font-style: normal
    font-weight: 700
    line-height: normal
    text-transform: uppercase
    margin-bottom: 0