@import colors
@import mixins

body
    color: $mainBlack
    font-family: 'Montserrat'
    font-weight: 400
// Стили для блоков
@import header
@import firstScreen
@import timeLine
@import actions
@import projects
@import catalog-item
@import advantages
@import housesByKey
@import howBuy
@import message
@import team
@import portfolio
@import feedback

#readyMadeProjects
    padding: 60px 0
    background-color: #F9F9F9